---
export async function getStaticPaths({ paginate }) {
	const API_URL = import.meta.env.KIRBY_URL;
	const pagesResponse = await fetch(API_URL + '/projekte.json');
	const data = await pagesResponse.json();
	const items = data.items;
	return paginate(items, { pageSize: 1 });
}
const { page } = Astro.props;
---

<h1>Page {page.currentPage}</h1>

{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
