---
export async function getStaticProps() {
	const API_URL = import.meta.env.KIRBY_URL;
	const pagesResponse = await fetch(API_URL + '/projekte.json');
	const data = await pagesResponse.json();
	const items = data.items;
	// Only get the first page of items
	const firstPageItems = items.slice(0, 1);
	return {
		props: {
			items: firstPageItems,
		},
	};
}
const { items } = Astro.props;
---

<h1>Page 1</h1>

<a href="/projekte/2">Next</a>
