@tailwind base;
@tailwind components;
@tailwind utilities;

section {
	@apply relative;
}

::selection {
	@apply bg-secondary text-primary;
}

.h-screenHalf {
	@apply h-screen-1/2;
}

.bg--primary {
	@apply bg-primary;
}

.bg--secondary {
	@apply bg-secondary;
}

.bg--tertiary {
	@apply bg-tertiary;
}

.bg--black {
	@apply bg-black;
}

.bg--white {
	@apply bg-white;
}

.bg--transparent {
	@apply bg-transparent;
}

.text--primary {
	@apply text-primary;
}

.text--secondary {
	@apply text-secondary;
}

.text--tertiary {
	@apply text-tertiary;
}

.text--black {
	@apply text-black;
}

.text--white {
	@apply text-white;
}

.text--transparent {
	@apply text-transparent;
}

.borderColor--primary {
	@apply border-primary;
}

.borderColor--secondary {
	@apply border-secondary;
}

.borderColor--tertiary {
	@apply border-tertiary;
}

.borderColor--black {
	@apply border-black;
}

.borderColor--white {
	@apply border-white;
}

.borderColor--transparent {
	@apply border-transparent;
}

.text--left {
	@apply text-left;
}

.text--leftCenter {
	@apply text-left mx-auto;
}


.text--center {
	@apply text-center mx-auto;
}

.text--right {
	@apply text-right ml-auto;
}

.text--rightCenter {
	@apply text-right mx-auto;
}

.align-vert--start {
	@apply items-start;
}

.align-vert--center {
	@apply items-center;
}

.align-vert--end {
	@apply items-end;
}

.align-vert--normal {
	justify-items: normal;
}

.align-hor--start {
	@apply justify-items-start;
}

.align-hor--center {
	@apply justify-items-center;
}

.align-hor--end {
	@apply justify-items-end;
}

.align-hor--normal {
	justify-items: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

.kirby-text h1,
.kirby-text h2,
.kirby-text h3,
.kirby-text h4,
.kirby-text h5,
.kirby-text h6 {
	@apply mb-1 pt-5 lg:pt-5;
}

.kirby-text > h1:first-child,
.kirby-text > h2:first-child,
.kirby-text > h3:first-child,
.kirby-text > h4:first-child,
.kirby-text > h5:first-child,
.kirby-text > h6:first-child {
	@apply pt-0;
}

.kirby-text p + p {
	@apply pt-4 lg:pt-6;
}

.kirby-text ul,
.kirby-text ol {
	@apply list-inside;
}

.kirby-text p + ul,
.kirby-text p + ol {
	@apply mb-4 lg:mb-8;
}

.kirby-text ul {
	@apply list-disc;
}

.kirby-text ol {
	@apply list-decimal;
}

.kirby-text ul > li,
.kirby-text ol > li {
	@apply my-1 last:mb-0 lg:my-2;
}

.kirby-text ol li:before {
	content: '';
	padding-left: 0.625rem;
}

.kirby-text a {
	@apply underline underline-offset-4;
}

address {
	font-style: normal;
}
