---
import { getIndex } from '../lib/api.js';
import Layout from '../layouts/Layout.astro';

const data = await getIndex(`/z-error.json`);
const pageTitle = data.global.siteTitle + ' | ' + data.title;
---

<Layout pageTitle={pageTitle} data={data} global={global}>
	<section class="container">
		<h1 class="text-green">Fehler</h1>
	</section>
</Layout>
