---
import Blocks from '@components/Blocks.astro';
const { columns } = Astro.props;
---

{
	columns &&
		columns.map((column) => {
			const span = column.span;
			return (
				<div class={`column col-span-6 lg:col-span-${span}`}>
					<Blocks blocks={column.blocks} />
				</div>
			);
		})
}
