---
import Blocks from '@components/Blocks.astro';
const { columns, global } = Astro.props;
---

{
	columns &&
		columns.map((column) => {
			const span = column.span;
			return (
				<section class={`column col-span-6 lg:col-span-${span}`}>
					<Blocks blocks={column.blocks} global={global} />
				</section>
			);
		})
}
