---
import Blocks from '@components/Blocks.astro';
const { columns, global, backgroundPadding } = Astro.props;
---

{
	columns && (
		<>
			{columns.map((column, index) => {
				const span = column.span;
				const isLeftBackgroundPadding =
					backgroundPadding === 'left' || backgroundPadding === 'none';
				const isRightBackgroundPadding =
					backgroundPadding === 'right' || backgroundPadding === 'none';
				const isFirstColumn = index === 0;
				const isLastColumn = index === columns.length - 1;
				const hasBlocks = column.blocks.length > 0;

				const columnClass = `column col-span-6 lg:col-span-${span} ${
					(isLeftBackgroundPadding && isFirstColumn) ||
					(isRightBackgroundPadding && isLastColumn)
						? 'lg:-ml-[var(--grid-margin-desktop)]'
						: ''
				} ${hasBlocks ? 'col-span-6' : 'hidden lg:block'}`;

				return (
					<section class={columnClass}>
						{hasBlocks && <Blocks blocks={column.blocks} global={global} />}
					</section>
				);
			})}
		</>
	)
}
