---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
import { Icon } from 'astro-icon';
const { googleAnalyticsToggle, googleAnalyticsCode } = Astro.props;
const toggle = googleAnalyticsToggle ? 'true' : 'false';
---

<button
	id="cookieButton"
	type="button"
	data-cc="show-preferencesModal"
	data-toggle={toggle}
	data-code={googleAnalyticsCode}
	class="transition-all duration-300 ease-in-out"
	aria-label="Cookie Preferences"
>
	<Icon
		name="cookie"
		alt="Cookie Icon"
		class="transition-all duration-300 ease-in-out"
	/>
</button>

<script>
	declare global {
		interface Window {
			dataLayer: any[];
		}
	}
	import { run } from 'vanilla-cookieconsent';
	let toggle = (document.querySelector('#cookieButton') as HTMLButtonElement)
		?.dataset.toggle;
	let code = (document.querySelector('#cookieButton') as HTMLButtonElement)
		?.dataset.code;
	if (toggle === 'true') {
		run({
			guiOptions: {
				consentModal: {
					layout: 'box inline',
					position: 'bottom left',
				},
				preferencesModal: {
					layout: 'box',
					position: 'right',
					equalWeightButtons: true,
					flipButtons: false,
				},
			},
			categories: {
				necessary: {
					readOnly: true,
				},
				functionality: {},
				analytics: {
					services: {
						ga4: {
							label:
								'<a href="https://marketingplatform.google.com/about/analytics/terms/us/" target="_blank">Google Analytics 4</a>',
							onAccept: () => {
								const script = document.createElement('script');
								script.src =
									'https://www.googletagmanager.com/gtag/js?id=' + code;
								script.async = true;
								document.head.appendChild(script);

								// Initialize Google Analytics
								window.dataLayer = window.dataLayer || [];
								function gtag() {
									dataLayer.push(arguments);
								}
								gtag('js', new Date());
								gtag('config', code);
							},
							onReject: () => {
								window['ga-disable-' + code] = true;
								const gaCookies = [
									/^_ga/,
								];
								gaCookies.forEach((pattern) => {
									document.cookie.split(';').forEach((cookie) => {
										const eqPos = cookie.indexOf('=');
										const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
										if (pattern.test(name)) {
											document.cookie =
												name +
												'=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/;domain=' +
												location.hostname;
										}
									});
								});

							},
							cookies: [
								{
									name: /^_ga/,
								},
							],
						},
					},
				},
			},
			language: {
				default: 'en',
				autoDetect: 'document',
				translations: {
					de: {
						consentModal: {
							title: 'Diese Seite verwendet Cookies!',
							description:
								'Diese Website verwendet Cookies, einschließlich Google Analytics, um die Nutzung zu analysieren und Ihre Erfahrung zu verbessern.',
							acceptAllBtn: 'Alle Cookies akzeptieren',
							acceptNecessaryBtn: 'Alle Cookies ablehnen',
							showPreferencesBtn: 'Cookie Einstellungen anzeigen',
							footer:
								'<a href="/de/datenschutz">Datenschutzerklärung</a>\n<a href="/de/impressum">Impressum</a>',
						},
						preferencesModal: {
							title: 'Cookie Einstellungen',
							acceptAllBtn: 'Alle Cookies akzeptieren',
							acceptNecessaryBtn: 'Alle Cookies ablehnen',
							savePreferencesBtn: 'Einstellungen speichern',
							closeIconLabel: 'Dialog schließen',
							serviceCounterLabel: 'Service|Services',
							sections: [
								{
									title: 'Cookie Verwendung',
									description:
										'Wir verwenden Cookies, um sicherzustellen, dass wir Ihnen die beste Erfahrung auf unserer Website bieten können. Durch die Nutzung unserer Website stimmen Sie der Verwendung von Cookies gemäß unserer Datenschutzrichtlinie zu. Diese Cookies umfassen auch solche von Google Analytics, um anonyme Informationen über die Nutzung unserer Website zu sammeln und zu analysieren. Sie können Ihre Cookie-Einstellungen jederzeit ändern.',
								},
								{
									title:
										'Technisch notwendige Cookies <span class="pm__badge">Immer aktiv</span>',
									description:
										'Diese Website verwendet technisch notwendige Cookies, um grundlegende Funktionen zu ermöglichen und die Sicherheit der Website zu gewährleisten.',
									linkedCategory: 'necessary',
								},
								{
									title: 'Analytics Cookies',
									description:
										'Diese Website verwendet Analytics-Cookies, um anonyme Informationen über die Nutzung der Website zu sammeln und die Benutzererfahrung zu verbessern.',
									linkedCategory: 'analytics',
								},
							],
						},
					},
					en: {
						consentModal: {
							title: 'This page uses Cookies!',
							description:
								'This website uses cookies, including Google Analytics, to analyze usage and improve your experience.',
							acceptAllBtn: 'Accept all cookies',
							acceptNecessaryBtn: 'Reject all cookies',
							showPreferencesBtn: 'Show cookie settings',
							footer:
								'<a href="/en/data-protection">Data protection</a>\n<a href="/en/imprint">Imprint</a>',
						},
						preferencesModal: {
							title: 'Cookie settings',
							acceptAllBtn: 'Accept all cookies',
							acceptNecessaryBtn: 'Reject all cookies',
							savePreferencesBtn: 'Save settings',
							closeIconLabel: 'Close dialogue',
							serviceCounterLabel: 'Service|Services',
							sections: [
								{
									title: 'Cookie Usage',
									description:
										'We use cookies to ensure that we can provide you with the best experience on our website. By using our website, you agree to the use of cookies in accordance with our privacy policy. These cookies also include those from Google Analytics to collect and analyze anonymous information about the use of our website. You can change your cookie settings at any time.',
								},
								{
									title:
										'Technically Necessary Cookies <span class="pm__badge">Always active</span>',
									description:
										'This website uses technically necessary cookies to enable basic functions and ensure the security of the website.',
									linkedCategory: 'necessary',
								},
								{
									title: 'Analytics Cookies',
									description:
										'This website uses analytics cookies to collect anonymous information about the usage of the website and to improve the user experience.',
									linkedCategory: 'analytics',
								},
							],
						},
					},
				},
			},
		});
	}
</script>

<style>
	#cookieButton {
		@apply fixed bottom-5 left-5 z-50 grid h-12 w-12 place-items-center rounded-[50%] bg-black opacity-50;
	}
	#cookieButton:hover {
		@apply opacity-100;
	}
	#cookieButton svg {
		@apply h-8 w-8 text-white;
	}
</style>
