---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
const { googleAnalyticsToggle, googleAnalyticsCode } = Astro.props;
const toggle = googleAnalyticsToggle ? 'true' : 'false';
---

<button
	id="cookieButton"
	type="button"
	data-cc="show-preferencesModal"
	data-toggle={toggle}
	data-code={googleAnalyticsCode}>Show preferences modal</button
>

<script>
	import { run } from 'vanilla-cookieconsent';
	let toggle = document.querySelector('#cookieButton')?.dataset.toggle;
	let code = document.querySelector('#cookieButton')?.dataset.code;
	if (toggle === 'true') {
		run({
			guiOptions: {
				consentModal: {
					layout: 'box inline',
					position: 'bottom left',
				},
				preferencesModal: {
					layout: 'box',
					position: 'right',
					equalWeightButtons: true,
					flipButtons: false,
				},
			},
			categories: {
				necessary: {
					readOnly: true,
				},
				functionality: {},
				analytics: {
					services: {
						ga4: {
							label:
								'<a href="https://marketingplatform.google.com/about/analytics/terms/us/" target="_blank">Google Analytics 4</a>',
							onAccept: () => {
								const script = document.createElement('script');
								script.src =
									'https://www.googletagmanager.com/gtag/js?id=' + code;
								script.async = true;
								document.head.appendChild(script);

								// Initialize Google Analytics
								window.dataLayer = window.dataLayer || [];
								function gtag() {
									dataLayer.push(arguments);
								}
								gtag('js', new Date());
								gtag('config', code);
							},
							onReject: () => {
								console.log('ga4 rejected');
							},
							cookies: [
								{
									name: /^_ga/,
								},
							],
						},
					},
				},
			},
			language: {
				default: 'de',
				autoDetect: 'browser',
				translations: {
					de: {
						consentModal: {
							title: 'Diese Seite verwendet Cookies!',
							description:
								'Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unserer Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Verwendung unserer Website an unsere Partner für soziale Medien, Werbung und Analysen weiter.',
							acceptAllBtn: 'Alle Cookies akzeptieren',
							acceptNecessaryBtn: 'Alle Cookies ablehnen',
							showPreferencesBtn: 'Cookie Einstellungen anzeigen',
							footer:
								'<a href="#link">Privacy Policy</a>\n<a href="#link">Terms and conditions</a>',
						},
						preferencesModal: {
							title: 'Cookie Einstellungen',
							acceptAllBtn: 'Alle Cookies akzeptieren',
							acceptNecessaryBtn: 'Alle Cookies ablehnen',
							savePreferencesBtn: 'Einstellungen speichern',
							closeIconLabel: 'Dialog schließen',
							serviceCounterLabel: 'Service|Services',
							sections: [
								{
									title: 'Cookie Verwendung',
									description:
										'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
								},
								{
									title:
										'Technisch notwendige Cookies <span class="pm__badge">Immer aktiv</span>',
									description:
										'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
									linkedCategory: 'necessary',
								},
								{
									title: 'Analytics Cookies',
									description:
										'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
									linkedCategory: 'analytics',
								},
								{
									title: 'Mehr Informationen',
									description:
										'For any query in relation to my policy on cookies and your choices, please <a class="cc__link" href="#yourdomain.com">contact me</a>.',
								},
							],
						},
					},
				},
			},
		});
	}
</script>
