---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { Icon } from 'astro-icon';

const { data, global } = Astro.props;
const headerColor = global.headerColor;
const headerBackground = global.headerBackground;
const headerColorActive = global.headerColorActive;
const headerBackgroundActive = global.headerBackgroundActive;

const logoDesktop = global.logoDesktop + 'px';
const logoDesktopActive = global.logoDesktopActive + 'px';
const logoMobile = global.logoMobile + 'px';
const logoMobileActive = global.logoMobileActive + 'px';
---

<header
	class={`bg--${headerBackground} text--${headerColor} fixed z-10 w-full py-4 transition-all duration-300 ease-in-out max-md:items-center md:py-8`}
>
	<div class="container flex items-center">
		<div
			class={`logo z-10 w-full transition-all duration-300 ease-in-out max-md:py-4`}
		>
			<a href="/" aria-label="Zurück zur Homepage">
				<Icon name="fallback" />
			</a>
		</div>
		<nav
			class="ml-auto justify-end transition-all duration-300 ease-in-out max-lg:self-center"
		>
			<Hamburger />
			<Navigation data={data} global={global} />
		</nav>
	</div>
</header>

<script>
	import '../scripts/header.js';
</script>

<style
	lang="css"
	define:vars={{
		headerColorActive,
		headerBackgroundActive,
		logoMobile,
		logoDesktop,
		logoDesktopActive,
		logoMobileActive,
	}}
>
	.header--active {
		@apply py-0 shadow-lg lg:py-4;
		background-color: var(--headerBackgroundActive);
		color: var(--headerColorActive);
	}
	.header--active .logo {
		@apply w-[var(--logoMobileActive)] md:w-[var(--logoDesktopActive)];
	}
	.header--active nav {
		@apply self-center;
	}

	.logo {
		@apply w-[var(--logoMobile)] md:w-[var(--logoDesktop)];
	}
</style>
