---
const { data } = Astro.props;
const socialMeta = data.meta.social;
const frontendURL = global.frontendUrl;
const siteURL = global.siteUrl;
let canonicalFrontend = data.meta.canonical.replace(siteURL, frontendURL);
canonicalFrontend = canonicalFrontend.replace(/\/$/, '');
---

<title>{data.meta.title}</title>
<meta name="description" content={data.meta.description} />
<meta name="robots" content={data.meta.robots} />
<meta name="canonical" content={canonicalFrontend} />

{
	Object.entries(socialMeta).map(([key, value]) => (
		<meta
			property={key === 'og:url' ? 'og:url' : key}
			content={key === 'og:url' ? canonicalFrontend : value.toString()}
		/>
	))
}
