---
import { getLanguages } from '@lib/api.js';
const languages = await getLanguages();
const defaultLang = languages.defaultLang;
---

<ul>
	{
		languages.translations.map((language) => {
			const path = Astro.url.origin;
			const lang = language.code;

			return (
				<li>
					<a href={`${path}/${lang === defaultLang ? '' : lang}`}>
						{language.name}
					</a>
				</li>
			);
		})
	}
</ul>
