---
const { global, class: className, ...rest } = Astro.props;
const { lang } = Astro.params;
import { Icon } from 'astro-icon/components';
const defaultLang = global.defaultLang;
const allLangs = global.allLang;
const translations = global.translations;
const currentLang = lang;
const headerFont = global.headerFont;
const headerFontSize = global.headerFontSize;
const prefixDefaultLocale = global.prefixDefaultLocale;
---

{
	translations.length > 0 && (
		<ul
			class:list={[
				'lang',
				className,
				`font--${headerFontSize}`,
				'flex',
				'items-center',
				'uppercase',
			]}
		>
			<Icon
				name="language"
				id="language"
				aria-label="Language"
				class="mr-2 w-4"
			/>

			{allLangs
				.filter((language) => language.code !== currentLang)
				.filter((language) => lang || language.code !== defaultLang.code)
				.map((language) => {
					const lang = language.code;
					return (
						<li class="mr-8 last:mr-0 lg:mr-4 lg:last:mr-0">
							{prefixDefaultLocale && lang === defaultLang.code ? (
								<a href="/">{language.code}</a>
							) : (
								<a href={`/${lang === defaultLang.code ? '' : lang}`}>
									{language.code}
								</a>
							)}
						</li>
					);
				})}
		</ul>
	)
}

<style lang="css" define:vars={{ headerFont }}>
	.langDesktop {
		font-family: var(--headerFont);
	}
</style>
