---
const { controls, color } = Astro.props;
---

{
	controls && controls.includes('arrow') ? (
		<button
			class={`arrow absolute bottom-[10vh] left-1/2 -translate-x-2/4 text-5xl text--${color}`}
		>
			&#8595;
		</button>
	) : null
}
