---
const { controls, color, size } = Astro.props;
---

{
	controls ? (
		<button
			class={`arrow absolute bottom-[10vh] left-1/2 z-10 -translate-x-2/4 text--${color} ${
				size === 'Klein'
					? 'text-3xl'
					: size === 'Mittel'
					? 'text-5xl'
					: size === 'Groß'
					? 'text-8xl'
					: ''
			}`}
		>
			&#8595;
		</button>
	) : null
}
