---
const { borderStyle, borderWidth, borderColor, metadata } = Astro.props;
---

<div
	id={metadata?.identifier || undefined}
	class:list={['blockLine', 'blocks', metadata?.classes]}
	{...metadata?.attributes}
>
	<hr
		class:list={[`borderColor--${borderColor}`, `borderStyle--${borderStyle}`]}
	/>
</div>

<style lang="css" define:vars={{ borderWidth }}>
	hr {
		@apply border-t-[length:var(--borderWidth)];
	}

	.borderStyle--solid {
		@apply border-solid;
	}
	.borderStyle--dashed {
		@apply border-dashed;
	}

	.borderStyle--dotted {
		@apply border-dotted;
	}

	.borderStyle--double {
		@apply border-double;
	}
</style>
