---
const {
	spacingMobileTop,
	spacingMobileBottom,
	spacingDesktopTop,
	spacingDesktopBottom,
} = Astro.props;
console.log(
	'🚀 ~ file: BlockDivider.astro:8 ~ spacingDesktopBottom:',
	spacingDesktopBottom
);
---

<div class="BlockDivider"></div>

<style
	lang="css"
	define:vars={{
		spacingDesktopBottom,
		spacingDesktopTop,
		spacingMobileBottom,
		spacingMobileTop,
	}}
>
	.BlockDivider {
		@apply pb-[var(--spacingMobileBottom)] pt-[var(--spacingMobileTop)] lg:pb-[var(--spacingDesktopBottom)] lg:pt-[var(--spacingDesktopTop)];
	}
</style>
