---
const { text, font, size, align, color } = Astro.props;
---

<section class={`block blockText`}>
	<div
		set:html={text}
		class={`kirby-text font--${size} text--${color} text--${align}`}
	/>
</section>

<style
	lang="css"
	define:vars={{
		font,
	}}
>
	.blockText {
		font-family: var(--font);
	}
</style>
