---
const { title, font, size, align, color, Level, metadata } = Astro.props;
---

<div
	id={metadata?.identifier || undefined}
	class:list={['blockTitle', 'blocks', metadata?.classes]}
	{...metadata?.attributes}
>
	<Level
		class:list={[`font--${size}`, `text--${color}`, `text--${align}`]}
		set:html={title}
	/>
</div>

<style
	lang="css"
	define:vars={{
		font,
	}}
>
	.blockTitle {
		font-family: var(--font);
	}
</style>
