---
const { title, font, size, align, color, Tag } = Astro.props;
---

<section class={`block blockTitle`}>
	<Tag class:list={[`font--${size}`, `text--${color}`, `text--${align}`]}>
		{title}
	</Tag>
</section>

<style
	lang="css"
	define:vars={{
		font,
	}}
>
	.blockTitle {
		font-family: var(--font);
	}
</style>
