---
import Columns from '@blocks/BlockColumns.astro';
const { grid, global } = Astro.props;
const grids = grid.content.grid;
---

<section class="blockGrid blocks">
	{grids.map((grid, index) => <Columns {...grid} key={index} />)}
</section>
