---
import Picture from '@components/Picture.astro';
const { image, ratio, layout, align, gridGapMobile, gridGapDesktop } =
	Astro.props;
---

<section class={`block blockImages`}>
	<div class="image max-lg:col-span-6">
		<Picture
			src={image.url}
			alt={image.alt}
			widths={[1824, 1343, 944]}
			aspectRatio={ratio}
			class="w-full object-cover"
		/>
	</div>
</section>

<style
	lang="css"
	define:vars={{
		gridGapMobile,
		gridGapDesktop,
	}}
>
	.grid-default {
		@apply max-lg:gap-[var(--gridGapMobile)];
	}
</style>
