---
const { code, metadata } = Astro.props;
---

<div
	id={metadata?.identifier ?? ''}
	class={`blockCode blocks ${metadata?.classes ?? ''}`}
	{...metadata?.attributes ?? ''}
>
	<Fragment set:html={code} />
</div>
