---
const { title, font, size, align, color, Level } = Astro.props;
---

<div class={`blockTitle blocks`}>
	<Level class:list={[`font--${size}`, `text--${color}`, `text--${align}`]} set:html={title}>
	</Level>
</div>

<style
	lang="css"
	define:vars={{
		font,
	}}
>
	.blockTitle {
		font-family: var(--font);
	}
</style>
