---
import Columns from '@blocks/BlockColumns.astro';
const { grid, global, span, data } = Astro.props;
const grids = grid.content.grid;
const title = grid.content.title;
---

<section id={`${title}`} class="blockGrid blocks">
	{
		grids.map((grid) => (
			<Columns {...grid} global={global} span={span} data={data} />
		))
	}
</section>
