---
import VectorImage from '@components/VectorImage.astro';
const { image, toggle, widthMobile, widthDesktop, widthAlign } = Astro.props;
---

<div class={`blockVector blocks`}>
	<div class={`flex flex-col align-vert--${widthAlign || 'center'}`}>
		<VectorImage
			image={image}
			widthMobile={widthMobile}
			widthDesktop={widthDesktop}
		/>
	</div>
</div>
