---
import { toRem } from '@lib/api.js';

const {
	global,
	spacingMobileTop,
	spacingMobileBottom,
	spacingDesktopTop,
	spacingDesktopBottom,
} = Astro.props;

const gridBlockMobile = toRem(global.gridBlockMobile) || '1rem';
const gridBlockDesktop = toRem(global.gridBlockDesktop) || '1rem';
---

<div class="blockDivider blocks"></div>

<style
	lang="css"
	define:vars={{
		spacingDesktopBottom,
		spacingDesktopTop,
		spacingMobileBottom,
		spacingMobileTop,
		gridBlockMobile,
		gridBlockDesktop,
	}}
>
	.blockDivider {
		@apply !mb-[calc(var(--gridBlockMobile)_*_-1)] !mt-[calc(var(--gridBlockMobile)_*_-1)] pb-[var(--spacingMobileBottom)] pt-[var(--spacingMobileTop)] lg:!mb-[calc(var(--gridBlockDesktop)_*_-1)] lg:!mt-[calc(var(--gridBlockDesktop)_*_-1)] lg:pb-[var(--spacingDesktopBottom)] lg:pt-[var(--spacingDesktopTop)];
	}
</style>
